# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
env/
.venv/

# Mac
.DS_Store

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env

# IDE
.vscode/murtuzajaweed@Murtuzas-MacBook-Air CarIntel prototype % du -sh static/models/*
 64M	static/models/bmw.glb
murtuzajaweed@Murtuzas-MacBook-Air CarIntel prototype % 

.DS_Store

node_modules/